.header {
    font-family: 'Muli';
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.header * {
    font-family: inherit;
}

.header-wrapper {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    max-height: 50px;
}

.logo :last-child {
    margin-right: 0px;
}

.search-column {
    display: inline-flex;
}

.nav-column {
    margin-left: auto;
}

.search-form {}

.search-form input[type="text"] {
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 500px;
    max-width: 80%;
    background-color: #f1f1f1;
    color: #333;
    transition: all 0.3s ease;
    padding-right: 48px;
}

.search-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.search-form button[type="submit"] {
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    margin-left: -2.5rem;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.navigation li {
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.navigation li:last-child {
    margin-right: 70px;
}

.navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.notify-badge {
    position: relative;
    background: rgb(255, 0, 0);
    height: 1rem;
    top: -0.6rem;
    left: 1.6rem;
    width: 1rem;
    text-align: center;
    line-height: 1rem;
    ;
    font-size: 0.8rem;
    border-radius: 50%;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}