html {
    max-width: 100%;
    overflow-x: hidden;
}

.col-left {
    display: flex;
    float: left;
    width: 15%;
    min-width: 200px;
  }

  .col-right {
    display: flex;
    float: left;
    width: 85%;
  }

  .col-lg {
    float: left;
    width: 75%;
    margin-right: 40px;
  }

  .col-sm {
    float: left;
    width: 25%;
  }

  /*
@media (max-width: 767px) {
    .col-left, .col-right {
      flex-basis: 100%;
    }
  }*/