.header {
    top: 0;
    left: 0;
    width: 100%;
  }

  .header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
  
  .logo-column {
    display: inline-flex;
    /*align-items: center;*/
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .nav-column {
    display: inline-flex;
    /*align-items: center;*/
  }
  
  .search-form {
    /*margin-right: 0;*/

    display: flex;
    align-items: center;
  }
  /*
  .search-form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  */

  .search-wrapper {
    position: relative;
  }

  .search-form input[type="text"] {
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 500px;
    max-width: 80%;
    background-color: #f1f1f1;
    color: #333;
    transition: all 0.3s ease;
    padding-right: 48px;
  }

  .search-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  .search-form button[type="submit"] {
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    margin-left: -2.5rem;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
  
  .navigation li {
    margin-right: 50px;
  }
  .navigation li:last-child{
    margin-right: 0px;
}
  
  .navigation a {
    text-decoration: none;
    color: #333;
  }