.header {
    top: 20px;
    left: 0;
    width: 100%;
  }

  .header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
  .logo-column {
    display: flex;
    align-items: center;
  }
  
  .logo {
    justify-content: center;
    margin-right: 20px;
  }
  
  .logo img {
    max-height: 50px;
  }

  .search-column {
    display: inline-flex;
  
  }
  
  .nav-column {
    margin-left: auto;
  }
  
  .search-form {
  }

  .search-form input[type="text"] {
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 500px;
    max-width: 80%;
    background-color: #f1f1f1;
    color: #333;
    transition: all 0.3s ease;
    padding-right: 48px;
  }

  .search-form input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  .search-form button[type="submit"] {
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: none;
    background: none;
    outline: none;
    margin-left: -2.5rem;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
  }
  
  .navigation li {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  .navigation li:last-child{
    margin-right: 0px;
}
  
  .navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }

.notify-badge{
  position: relative;
  background: rgb(255, 0, 0);
  height:1rem;
  top:-0.6rem;
  left:1.6rem;
  width:1rem;
  text-align: center;
  line-height: 1rem;;
  font-size: 0.8rem;
  border-radius: 50%;
  color:white;
  border:1px solid rgb(255, 255, 255);
}

/* for main part */

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f8f8f8;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: grey;
}

.sidebar img {
  margin-right: 15px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.channel-container {
  display: flex;
  align-items: center;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 50px; /* adjust width and height to your needs */
  height: 50px;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-badge{
  position: absolute;
  display: inline-block;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  /*font-weight: bold;*/
  text-align: center;
  border-radius: 20px;
  right:10px;
  bottom:60px;
}

.video-wrapper {
  position: relative;
}

.video-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  flex-direction: column;
  margin-right: 20px;
  width: 250px;
  height: 200px;
}

.video-container:last-child {
  margin-right: 0;
}

.video-container img {
  border-radius: 14px;
  width: 100%;
  height: 150px;
  display: block;
}

.video-container h2 {
  font-size: 20px;
  margin: 0;
}

.video-container p {
  font-size: 16px;
  color: gray;
  margin: 0;
}

.video-container-desc {
  display: flex;
  justify-content: space-between;
}

.video-arrow-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.video-arrow {
  /*position: absolute;*/
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.video-arrow i {
  position:relative;
  left: 35%;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
